
.login-background {
    background-image: url('/static/img/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-with-more-than-5-million-visitors-year-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.register-background {
    background-image: url('/static/img/full-shot-man-carrying-baggage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.dashboard-background {
    background-image: url('/static/img/visualsofdana-T5pL6ciEn-I-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.index-background {
    background-image: url('/static/img/silhouette-palm-tree-with-umbrella.jpg'); /* Cambia la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    

}
                .hero-section {
                height: 80vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }


            h1 {
                text-shadow: 0px 2px 8px rgb(0, 0, 0);
            }

.createaccount-background {
    background-image: url('/static/img/receptionists-elegant-suits-work-hours.jpg'); /* Cambia la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;

}

