{% extends "base.html" %}
{% block page_class %}editvisitor-background{% endblock %}

{% block content %}
<h2>Ziyaretçi Düzenle</h2>
<form method="post">
    <div class="mb-3">
        <input type="text" class="form-control" name="name" value="{{ visitor.name }}" placeholder="Ad" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="surname" value="{{ visitor.surname }}" placeholder="Soyad" required>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" name="email" value="{{ visitor.email }}" placeholder="E-posta" required>
    </div>
    <div class="mb-3">
        <input type="tel" class="form-control" name="phone" value="{{ visitor.phone }}" placeholder="Telefon" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="room" value="{{ visitor.room }}" placeholder="Oda Numarası / Ziyaret Edilen Yer" required>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
{% endblock %}
